<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.demo.demo.mapper.EquipmentMapper">
    <!--<select id="Equfindselect" resultType="org.jeecg.modules.system.vo.EquipmentVO">-->
        		<!--select equipment_id,e.commodity_id,commodity_name,-->
				<!--realname,client_name,ids,enabled-->
				<!--FROM equipment as e-->
				<!--left join commodity as c on e.commodity_id=c.commodity_id-->
				<!--left join sys_user as s on e.user_id=s.id-->
				<!--left join client as l on e.client_id=l.client_id-->
    <!--</select>-->
</mapper>