<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.system.mapper.FilterelementReplaceMapper">
    <insert id="insertByfilterelementid" parameterType="java.util.List">
        INSERT INTO `jeecg-boot`.`filterelement_replace`( `record_id`, `equipment_id`, `filterelement_id`, `installation_time`,  `create_by`, `create_time`, `update_by`, `update_time`)
        VALUES
        <foreach separator="," item="list" collection="list">
            (#{list.recordId}, #{list.equipmentId}, #{list.filterelementId},
            CURRENT_TIMESTAMP, #{list.createBy},
            CURRENT_TIMESTAMP, #{list.updateBy},
            CURRENT_TIMESTAMP)
        </foreach>
    </insert>

    <update id="UpdYC">
        UPDATE equipment as eq,(
        select e.equipment_id from  equipment as e
        left join commodity as c on e.commodity_id = c.commodity_id
        left join commodity_type as ct on c.type_id=ct.type_id
        left join relationship as r  on ct.type_id = r.type_id
        left join filterelement as f on r.filterelement_id=f.filterelement_id
        left join filterelement_replace as fr on e.equipment_id=fr.equipment_id
        where (f.validity*(1-e.lossratio))-DATEDIFF(now(),fr.installation_time)&lt;f.replacementdays
        ) as b SET eq.filterelement_Type = 0
        WHERE eq.equipment_id in (b.equipment_id)
    </update>

    <update id="UpdZC">
        UPDATE `jeecg-boot`.`equipment` SET `filterelement_Type` = 1 WHERE `equipment_id`=#{equipmentId}
    </update>

    <select id="UpdZT" resultType="org.jeecg.modules.system.vo.EquipmentVO">
        select e.equipment_id equipmentId,
        c.commodity_name commodityName,
        cl.client_name clientName,
        date_add(min(fr.installation_time), interval f.replacementdays day) expirationtime,
        cl.phone phone
        from
        equipment as e
        left join commodity as c on e.commodity_id = c.commodity_id
        left join commodity_type as ct on c.type_id=ct.type_id
        left join relationship as r  on ct.type_id = r.type_id
        left join filterelement as f on r.filterelement_id=f.filterelement_id
        left join filterelement_replace as fr on e.equipment_id=fr.equipment_id
        left join client as cl on e.client_id = cl.client_id
        where (f.validity*(1-e.lossratio))-DATEDIFF(now(),fr.installation_time)&lt;f.replacementdays GROUP BY e.equipment_id
    </select>

    <select id="findbyequipmentid" resultType="org.jeecg.modules.system.entity.Client" parameterType="java.util.List">
        select * from client
        where client_id in (
        <foreach separator="," item="list" collection="list">
              #{list}
        </foreach>
        )
    </select>
</mapper>